$primary : #5065fc;
$primaryLight : #628aec;
$primaryHighlight : #ccdbff;

$accent : #fc8e53;
$accentLight : #e89061;
$accentHighlight : #ffddca;

$error : #fc5050;
$disabled : #889bc9;

$backgroundLight : #eaebf6;

$textColor : #222d3c;
$textColorLight : lighten($textColor,15);