@import '../../styles/vars';

.main-page{
    display: grid;
    grid-template-columns: 21.35vw auto 21.35vw;
    padding: 1em 0;
}
.main-chats-list,
.main-chat-box,
.main-current-chat-info{
    padding: 0 1.5em;
}



.main-chats-list,
.main-user-profile-box,
.main-chat-list-box{
    display: flex;
    flex-direction: column;
}
.main-chat-list-box,
.main-user-profile{
    flex-grow: 1;
}



.main-user-profile-box{
    transition: flex .4s;
    overflow: hidden;
    border-bottom: 1px rgba($disabled,0.35) solid;
    padding-bottom: 0.75em;
    margin: 0 0.5em;
}

.main-chat-list-box{padding-top: 0.75em;}





.main-user-profile-edit {
    position: absolute;
    right: 0;
    left: 0;

    .input{
        transition: opacity .4s,transform .4s;
        opacity: 0;
        transform: scale(0.85);
    }

    &.main-user-profile-edit-active{
        .input{
            opacity: 1;
            transform: none;
        }
    }
}




.main-user-profile{
    text-align: center;
    margin-top: 0.5em;
    position: relative;
    .icon-btn {
        position: absolute;
        top: 0;right: 0.5em;
    }
}



.profile-image {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    display: inline-block;
    padding: 0.5em;
    img{
        width: 100%;
        border-radius: 50%;
    }


    .profile-image-edit{
        background-color: rgba($primary,0.75);
        backdrop-filter: blur(5px);
        border-radius: 50%;
        font-size: 1.5rem;
        transition: opacity .4s;
        color: #FFF;
        opacity: 0;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
    }
}


.main-user-profile-name{
    width: 100%;
    text-align: center;
    position: absolute;
    transition: all .4s;
    &.main-user-profile-name-hidden{
        opacity: 0;
        transform: scale(0.925);
    }
}





.main-chats-list .input{
    width: 90%;
    margin: 1em auto 1em;
}



.main-chat-list-item{
    padding: 0.5em ;
    margin: 0 0.5em;
    display: grid;
    grid-template-columns: 3.75em auto;
    align-items: center;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    transition: background-color .4s;
    &:hover{
        background-color: rgba($primary, $alpha: 0.1);
    }

    .main-chat-list-item-time{
        position: absolute;
        top: 0.75em;
        right: 0.75em;
        opacity: 0.8;
    }

    .main-chat-list-item-img{
        width: 3.75em;
        height: 3.75em;
        position: relative;
        border: 3px solid #fff;
        border-radius: 50%;

        &::after{
            content: ' ';
            position: absolute;
            right: 7.5%;
            bottom: 7.5%;
            width: 0.5em;
            height: 0.5em;
            background-color: $primary;
            border-radius: 50%;
            border: 0.125em solid #FFF;
            opacity: 0;
            transform: scale(0);
            transition: all .4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        }

        &.main-chat-list-item-online::after{
            transform: scale(1);
            opacity: 1;
        }
    }

    .main-chat-list-item-info{
        display: grid;
        align-items: center;
        height: 75%;
        padding: 0 4%;
        h4{font-weight: lighter;width: 85%;}
        span{line-height: 1;}
        h4,span{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.25;
        }
    }
}



.main-chat-list-item-selected{
    background-color: rgba($primary,0.8);
    &:hover{background-color: rgba($primary,0.8);}
    *{color: #FFF;}
}










