.main-page{
    display: grid;
    grid-template-columns: 21.35vw auto 21.35vw;
    padding: 1em 0;
}
.main-chats-list,
.main-chat-box,
.main-current-chat-info{
    padding: 1.5em;
}


.main-user-profile{
    text-align: center;
    margin-top: 1em;
}
.profile-image {
    width: 12.5vw;
    height: 12.5vw;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 1em;
    padding: 0.75em;
    img{
        width: 100%;
        border-radius: 50%;
    }
}


.main-chat-list-box .input{
    width: 90%;
    margin: 0 auto;
}